<footer class='w-full text-center border-t border-grey px-6 py-6 pin-b bg-gray-800'>
  <div class="container mx-auto flex justify-end text-gray-200">
    <%= link "Terms of service", to: Routes.page_path(@conn, :terms), class: "" %> <span class="mx-3">|</span> <%= link "Privacy policy", to: Routes.page_path(@conn, :privacy), class: "" %>
  </div>
</footer>