<!DOCTYPE html>
<html lang="en">
  <%= render "_head.html", assigns %>

  <body class="text-gray-900 leading-normal poppins-font bg-gray-100">
    <div class="min-h-screen flex flex-col">
      <div class="flex-grow">
        <%= render "_notifications.html", assigns %>
        <%= render "_marketing_navbar.html", assigns %>
        <%= render @view_module, @view_template, assigns %>
      </div>
      
      <%= render "_footer.html", assigns %>
    </div>
  </body>
</html>
